.body {
  font-family: "Comfortaa", cursive;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/038/437/original/pexels-moose-photos-1037995.jpg?1656094281");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 60px auto;
}
.weather-app {
  background: white;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgb(65 50 100 / 20%);
  opacity: 90%;
  padding: 15px;
}
.current-temperature {
  font-size: 50px;
}

h1 {
  color: black;
  font-size: 50px;
  line-height: 28px;
  padding: 0px 0px 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0px 0px 8px;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.current-temperarture-container {
  margin-top: 20px;
  padding: 0;
}
.current-temperarture-picture img {
  margin-right: 5px;
  height: 120px;
  width: 120px;
}

.temperature {
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
  margin-left: 5px;
  position: relative;
  top: 38px;
}

.units {
  position: relative;
  top: -3px;
  font-size: 20px;
  margin-left: -6px;
}

.wind-speed-gif {
  animation: anim-ss steps(23) 1s infinite;
}
