body {
  font-family: "Comfortaa", cursive;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/038/493/original/pexels-pixabay-262713.jpg?1656152443");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  background: rgb(253, 230, 239, 0.2);
  border-radius: 15px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 20%);
  padding: 15px;
}

.form-control {
  margin-left: 10px;
  background-color: #fbe7f2;
}
.search-button {
  background-color: rgb(51, 146, 214, 0.7);
  border: rgb(51, 146, 214, 0.7);
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  color: #fbe7f2;
}
.search-button:hover {
  cursor: pointer;
  background-color: rgb(51, 146, 214, 0.7);
  transition: all 200ms ease-in-out;
  transform: scale(1.1) perspective(5px);
}
.location-button {
  background-color: rgb(51, 146, 214, 0.7);
  border: rgb(51, 146, 214, 0.7);
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  color: #fbe7f2;
}
.location-button:hover {
  cursor: pointer;
  background-color: rgb(51, 146, 214, 0.7);
  transition: all 200ms ease-in-out;
  transform: scale(1.1) perspective(5px);
}

.current-temperarture-container .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.current-temperarture-container .active:hover {
  text-decoration: none;
}

.current-temperature {
  font-size: 50px;
}

h1 {
  color: black;
  font-size: 50px;
  line-height: 28px;
  padding: 0px 0px 10px 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 5px 0px 20px;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.current-temperarture-container {
  margin-top: 20px;
  padding: 0;
}
.current-temperarture-picture img {
  margin-right: 5px;
  height: 120px;
  width: 120px;
}

.temperature {
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
  margin-left: 5px;
  position: relative;
  top: 38px;
}

.units {
  position: relative;
  top: -3px;
  font-size: 20px;
  margin-left: -6px;
}

.wind-speed-gif {
  animation: anim-ss steps(23) 1s infinite;
}
.weather-forecast {
  text-align: center;
}

.weatherforecast-date {
  font-size: 16px;
}
.weatherforecast-temperature {
  font-size: 14px;
}
.weatherforecast-temperature-min {
  opacity: 0.7;
}
footer {
  margin-left: 10px;
  font-size: 12px;
  color: black;
  opacity: 0.7;
}
